<h1>Home Page</h1>

<% @musics.each do |music| %>
  <div class="music">
    <h3><a href="<%= music.url %>"><%= music.title %></a> <small>(by: <%= music.author %>)</small></h3>
  </div>
  <div>
    <p><small> <%= music.added_by %>(votes:<%= music.vote_num %>)</small></p>
  </div>
  <div>
    <% if login_user %>
      <form action="/musics/upvote/<%=music.id%>" method="post">
        <input type="hidden" name="_method" value="put">
        <input type="submit" value="[VOTE!]">
      </form>
      <form action="/musics/delete/<%=music.id%>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="[Delete]">
      </form>
    <% end %>
  </div>
<% end %>

<a href="/musics/login">LOGIN!</a>
<% if login_user %><a href="/musics/new">Post a song... It's FREE (for now)!</a><%end%>
