<h1>Home Page</h1>

<% if login_user %>
  <h2>Welcome back, <%= login_user[:username] %></h2>
  <div>
    <p><a href="/musics/logouts"><small>(LOGOUT)</small></a></p>
  </div>
<% end %>

<% @musics.each do |music| %>
  <div class="music">
    <h3><a href="<%= music.url %>"><%= music.title %></a> <small>(by: <%= music.author %>)</small></h3>
  </div>
  <div>
    <p><small> <%= music.added_by %><button><%= music.vote_num %></button></small></a></p>
  </div>
  <div><% if login_user %>
    <form action="/<%= music.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="[Delete]">
    </form>
  <% end %></div>
<% end %>

<a href="/musics/login">LOGIN!</a>
<% if login_user %><a href="/musics/new">Post a song... It's FREE (for now)!</a><%end%>
